.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .body-contents {
    text-align: center;
  }
  
  .body-contents   h1 {
    margin-bottom: 20px;
    font-size: 80px;
    color: white;
  }
  .body-contents h2{
    font-size: 50px;
    color: white;
  }
  .body-contents  h1 span {
    color:  #4caf50;
  }
  .body-contents button {
    color:  #4caf50;
    background-color: transparent;
    padding: 15px 50px;
    font-weight: bold;
    border: 2px solid #4caf50;
    cursor: pointer;
  }
  
  
  .body-contents.button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    .body-contents {
      flex-direction: column;
    }
  }