.image{
    background-color: red;
    height: 500px;
    width: 350px;
}
.allcart{
    display: flex;
    justify-content: left;
    padding: 50px;
    gap: 30px;
}
.desc p{
   padding-top: 30px;
   width: 100%;
}
.qnt input{
   border: 2px solid rgb(39, 153, 79);
   width: 100px;
   height: 50px;
   outline: none;
}
.btn {
    margin-top: 100px;
}
.btn button{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn .one{
    background-color: rgb(251, 151, 11);
    color: white;
}
.btn .one:hover{
    background-color: transparent;
    border: 2px solid rgb(251, 151, 11);
    color: rgb(251, 151, 11);
}
.btn .two{
    background-color: rgb(39, 153, 79);
    color: white;
}
.btn .two:hover{
    background-color: transparent;
    border: 2px solid rgb(39, 153, 79);
    color: rgb(39, 153, 79);
}