.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
  }
  
  .open-icon, .close-icon {
    color: white;
    font-size: 24px;
    display:block;
  }
  
  .navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: none;
  }
  
  .navbar-links li {
    float: left;
  }
  
  .navbar-links li a {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
  }
  
  .navbar-links li a:hover {
    background-color: #111;
  }

  @media screen and (min-width: 768px) {
    .navbar-toggle .close-icon {
      display: none;
    }
  
    .navbar-links {
      display: flex;
      justify-content: flex-end;
    }
  
    .navbar-links li {
      margin-left: 20px;
    }
  
    .navbar-links li:first-child {
      margin-left: 0;
    }
  }
  
  .active {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  