*{
    padding: 0;
    margin: 0;
}
.signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: black;
    padding-top: 50px;
}
.inner-form{
    border: 2px solid #4caf50;
    padding: 20px 30px;
    width: 400px;
    height: 100%;
    border-radius: 5px;
}
.inner-form h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.signin input{
    padding: 10px 0px;
    border-radius: 5px;
    outline: none;
    border: 2px solid  #4caf50;  
    background: transparent;
    margin-bottom: 20px;
    width: 100%;
  }
  .signin a{
    text-decoration: none;
    font-weight: bold;
    color: #4caf50;
  }
  .signin a:hover{
    text-decoration: underline;
  }
  .signin button{
    width: 100%;
    padding: 10px 0px;
    margin-top: 50px;
    background-color: #4caf50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }
  .signin button:hover{
    border: 2px solid  #4caf50;
    background: transparent;
    color: #4caf50;
    transition: .2s;
  }